<form action='/searches' method='post'>
  <input type="text" name="title" placeholder="Enter a title or author" required>
  <input type="text" name="author" placeholder="Enter a title or author" required>
  <input type="text" name="ISBN" placeholder="Enter a title or author" required>
  <input type="text" name="image_url" placeholder="Enter a title or author" required>
  <input type="text" name="description" placeholder="Enter a title or author" required>
 
  <button type="submit">Search the Google Books API</button>
</form>